# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
.DS_Store
Router_Data/
/src/bin/rib.20161001.0000.bz2
/src/bin/Router_Data/
/src/bin/updates.20161001.0000.bz2
/src/bin/rib.20160628.1600.bz2
src/bin/rib.20160628.1600.bz2
src/site-packages/openbmp/__init__.pyc
src/site-packages/openbmp/mrt2bmp/RouteDataSynchronizer.pyc
src/site-packages/openbmp/mrt2bmp/__init__.pyc
/src/bin/rib.20160628.1400.bz2
